VITE_SUPABASE_URL=https://shxnxckznuvrsgxqynzp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNoeG54Y2t6bnV2cnNneHF5bnpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5Mzc5NzUsImV4cCI6MjA5MjUxMzk3NX0._R0uw204AAC8W3Tn5RBKym3fye3PMVgYBOTbE9AWRYo
VITE_API_BASE_URL=http://127.0.0.1:8000
